#section {
  background-color: #aeb2ebe3;
}

#bg-repro {
  background-color: #1d0335;
  color: rgb(255, 255, 255);
  opacity: 1;
}
#playBtn {
  color: rgb(13, 161, 219);
  outline: 1px solid rgb(13, 161, 219);
}
