<div class="_is-main-bar js-infiny-bar">

  <style>
    ._is-main-bar{ --primary-color: #f26419; --secondary-color: #0078aa;
    --tertiary-color: #0078aa; } ._is-main-bar-progress__current{ width: 100%; }
    ._is-main-bar__container{ color: #fff; }
  </style>

  <div class="_is-main-bar__overlay"></div>
  <div class="_is-main-bar__container _is-container">
    <div class="_is-main-bar__left _is-main-bar__item">
      <div class="_is-main-bar__card _is-main-bar-card">
        <div class="_is-main-bar-card__left">
          <div class="_is-main-bar-card__media">
            
          </div>
        </div>
      </div>
    </div>

    <div class="_is-main-bar__center _is-main-bar__item">
      <!--<a href="#" class="_is-main-bar__button is-icon-rewind"></a>-->
      <audio controls autoplay">
        <source src="http://audio.streaminghd.cl:9134/stream?type=http&amp;nocache=15" type="audio/mp3">
      </audio>
      <!--<a href="#" class="_is-main-bar__button is-icon-forward"></a>-->
    </div>

    