<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/barra-player.css" />

    <style>
      ._is-main-bar{ --primary-color: #f26419; --secondary-color: #0078aa;
      --tertiary-color: #0078aa; } ._is-main-bar-progress__current{ width: 100%;
      } ._is-main-bar__container{ color: #fff; }
    </style>

  </head>
  <body>
    <div class="_is-main-bar js-infiny-bar">
      <div class="_is-main-bar__overlay"></div>
      <div class="_is-main-bar__container _is-container">
        <div class="_is-main-bar__left _is-main-bar__item">
          <div class="_is-main-bar__card _is-main-bar-card">
            <div class="_is-main-bar-card__left">
              <div class="_is-main-bar-card__media">
                <img src="img/logo.png" alt="logo" />
              </div>
            </div>
          </div>
        </div>
        <div class="_is-main-bar__center _is-main-bar__item">
          <!--<a href="#" class="_is-main-bar__button is-icon-rewind"></a>-->
          <audio controls autoplay="true">
            <source
              src="http://audio.streaminghd.cl:9134/stream?type=http&amp;nocache=15"
              type="audio/mp3"
            />
          </audio>
        </div>
      </div>
    </div>
  </body>
</html>